.header,
.nav,
.main,
.sidebar,
.advertise,
.footer {
    background-color: grey;
    border: 2px solid rgb(222, 180, 15);
    padding: 5px;
    border-radius: 5px;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.advertise {
    grid-area: advertise;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header header  header header"
        "nav    main    main  sidebar"
        "nav    main    main   advertise"
        "footer footer  footer  footer"
    ;
}

@media screen and (max-width: 640px) {
    .container {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "sidebar"
            "advertise"
            "footer"
        ;
    }
}

@media screen and (min-width: 650px) and (max-width: 950px) {
    .container {
        grid-template-areas:
            "header header header"
            "nav      nav      nav"
            "sidebar  main     main"
            "advertise footer  footer"
        ;
    }
}